* {
    font-family: "Plus Jakarta Sans";
    background-color: bisque;
}

h1 {
    text-align: center;
}

/* Image Styling */
.bbq-img,
.miso-img {
    height: auto;
    width: 923px;
    border-style: solid;
    border-width: 2px;
    border-radius: 1%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.taco-img {
    height: auto;
    width: 500px;
    border-style: solid;
    border-width: 2px;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    margin: auto;
}

/* Description Styling */